<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>七日美容馆: 我们只推荐精品</title>
        <meta name="description" content="七日美容馆为你推荐精品护肤、彩妆、香水等产品，让你健康美丽每一天。" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="/css/normalize.css" />
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/qiri.css?v=1.3" />
        
        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="/js/vendor/jquery-1.10.2.min.js"></script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>

        
        <script src="/js/qiri.js?v=1.2"></script>
        
        <script src="http://l.tbcdn.cn/apps/top/x/sdk.js?appkey=21668301"></script>
    </head>
    <body>
        <div class="container">
            <div class="span-9">
                <a href="/" title="七日美容馆" target="_self"><img src="/img/logo-60.gif" border="0" alt="七日美容馆"></a>
            </div>
            
            <div class="span-15 last">
                <div class="tsearch" id="J_TSearch">
                    <div class="tsearch-tabs" id="J_TSearchTabs">
                        <ul>
                            <li name="taobao" class="tsearch-tabs-active"><a href="#">淘宝网</a><s class="rc-tp-l"></s><s class="rc-tp-r"></s></li>
                            <li name="tmall"><a href="#" target="_self">天猫</a><s class="rc-tp-l"></s><s class="rc-tp-r"></s></li>
                            <li name="joyo"><a href="#" target="_self">亚马逊</a><s class="rc-tp-l"></s><s class="rc-tp-r"></s></li>
                        </ul>
                    </div>
                    <div class="tsearch-panel">
                    <form name="taobao" id="J_TSearchForm" target="_blank">
                        <div class="tsearch-panel-fields">
                            <label for="q" class="hide"></label>
                            <input id="q" name="q" style="margin:0">
                            <s class="rc-tp-l"></s>
                            <s class="rc-bt-l"></s>
                        </div>
                        <input class="btnSearch" type="submit"/>
                    </form>
                        <s class="rc-tp-l"></s>
                        <s class="rc-tp-r"></s>
                        <s class="rc-bt-l"></s>
                        <s class="rc-bt-r"></s>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar">
            <div class="container">
                <ul>
                    <li><a class="current" href="">首页</a></li>
                    <li><a href="">面部护肤</a></li>
                    <li><a href="">时尚彩妆</a></li>
                    <li><a href="">男士护肤</a></li>
                    <li><a href="">香水精油</a></li>
                    <li><a href="">洗发沐浴</a></li>
                    <li><a href="">美体瘦身</a></li>
                </ul>
            </div>
        </div>
        <style>
            ul.links {float:left; padding:0; margin:0; font-size:14px}
            ul.links li {float:left; list-style:none; width:190px; margin:0 0 10px}
        </style>
        <div class="container" style="height:300px">
            <h2>面部护肤热门品牌专卖店</h2>
            <ul class="links">
            <li><a target="_blank" href="http://s.click.taobao.com/t?e=m%3D2%26s%3DhGsUvd28JWIcQipKwQzePCperVdZeJviK7Vc7tFgwiFRAdhuF14FMY5EMnvZIgcv79%2FTFaMDK6QMQ1WwtHcUPNkyJ1%2Bg%2BT6T5UoOeRlV%2BcHCqbZtHB3Y2CVHw6844mu7K0z%2FFtze8cL%2FWcTcVwvSg3M34zStXw4bu0PIDJMp%2FIys6GqNzsNa7MiieeG6eRVcYaMzZIIWf1PEXzm7ZfO5Mg%3D%3D"
                >相宜本草</a></li>
            <li><a target="_blank" href="http://s.click.taobao.com/t?e=m%3D2%26s%3D3gI2bokqUykcQipKwQzePCperVdZeJviK7Vc7tFgwiFRAdhuF14FMXVjCiNDU6D1xq3IhSJN6GQMQ1WwtHcUPNkyJ1%2Bg%2BT6T5UoOeRlV%2BcHCqbZtHB3Y2CVHw6844mu7K0z%2FFtze8cL%2FWcTcVwvSg3M34zStXw4bu0PIDJMp%2FIxd4TLadV7k9ciieeG6eRVcYaMzZIIWf1PEXzm7ZfO5Mg%3D%3D"
                >CLINIQUE 倩碧</a></li>
            <li><a target="_blank" href="http://s.click.taobao.com/t?e=m%3D2%26s%3DVNJHb7d8xM4cQipKwQzePCperVdZeJviK7Vc7tFgwiFRAdhuF14FMZQUISE1deBHlovu%2FCElQOsMQ1WwtHcUPNkyJ1%2Bg%2BT6T5UoOeRlV%2BcHCqbZtHB3Y2CVHw6844mu7K0z%2FFtze8cL%2FWcTcVwvSg3M34zStXw4bu0PIDJMp%2FIy0XX37oYaGKMiieeG6eRVcYaMzZIIWf1PEXzm7ZfO5Mg%3D%3D"
                >OLAY 玉兰油</a></li>
            <li><a target="_blank" href="http://s.click.taobao.com/t?e=m%3D2%26s%3DSBeqthr4fngcQipKwQzePCperVdZeJviK7Vc7tFgwiFRAdhuF14FMaDs0YXsyoAdMMgx22UI05YMQ1WwtHcUPNkyJ1%2Bg%2BT6T5UoOeRlV%2BcHCqbZtHB3Y2CVHw6844mu7K0z%2FFtze8cL%2FWcTcVwvSg3M34zStXw4bo9cgHYpltUlhozNkghZ%2FU5LsMd0Kl2K3N2%2F2OnhTWGtZW3lUKb7TQw%3D%3D"
                >L'Oreal 欧莱雅</a></li>
            <li><a target="_blank" href="http://s.click.taobao.com/t?e=m%3D2%26s%3DnR3Mzh%2BkMOccQipKwQzePDAVflQIoZepK7Vc7tFgwiFRAdhuF14FMQO2mbF0gN1RMMgx22UI05YMQ1WwtHcUPK2E4xbeLtgIMzRSoL8D0UatD0dafC%2FZEg%3D%3D"
                >百雀羚</a></li>
            <li><a target="_blank" href="http://s.click.taobao.com/t?e=m%3D2%26s%3Ds7wVn%2B0GQOYcQipKwQzePDAVflQIoZepK7Vc7tFgwiFRAdhuF14FMQ%2FXK0NOi0Cot4hWD5k2kjMMQ1WwtHcUPK2E4xbeLtgINKXOMuhuzfmgF0pbQcXgog%3D%3D"
                >PROYA 珀莱雅</a></li>
            <li><a target="_blank" href="http://s.click.taobao.com/t?e=m%3D2%26s%3DA80Hi%2B0vElscQipKwQzePDAVflQIoZepK7Vc7tFgwiFRAdhuF14FMe0CgxD2q2x21aH1Hk3GeOgMQ1WwtHcUPK2E4xbeLtgIUDrtiW%2FC6GYQ3PokPdMAkw%3D%3D"
                >WETHERM 温碧泉</a></li>
            </ul>
        </div>
        
        <div class="footer">
            <div class="last center gray-2">
                七日美容馆：我们只推荐精品  © Qiri.com - 京ICP备10032319号
            </div>
        </div>
    </body>
</html>
