{% include include/manage-header %}

<script>
$(function() {
    $( "#new-link" ).dialog({
        autoOpen: false,
        height: 180,
        width: 500,
        modal: true,
        buttons: {
            "确定": function() {
                alert('button clicked');
            },
            "取消": function() {
                $( this ).dialog( "close" );
            }
        },
        close: function() {
            
        }
    });
    $('.new-link').click(function() {
        $( "#new-link" ).dialog( "open" );
    });

    $( "#change-link" ).dialog({
        autoOpen: false,
        height: 180,
        width: 500,
        modal: true,
        buttons: {
            "确定": function() {
                alert('button clicked');
            },
            "取消": function() {
                $( this ).dialog( "close" );
            }
        },
        close: function() {
            
        }
    });
    $('.change-link').click(function() {
        $( "#change-link" ).dialog( "open" );
    });

    
    $( "#delete-link" ).dialog({
        resizable: false,
        autoOpen: false,
        height:180,
        modal: true,
        buttons: {
            "删 除": function() {
                $( this ).dialog( "close" );
            },
            "取 消": function() {
                $( this ).dialog( "close" );
            }
        }
    });
    $('.delete-link').click(function() {
        $( "#delete-link" ).dialog( "open" );
    });
    
    $( "#new-area" ).dialog({
        autoOpen: false,
        height: 180,
        width: 500,
        modal: true,
        buttons: {
            "确定": function() {
                alert('button clicked');
            },
            "取消": function() {
                $( this ).dialog( "close" );
            }
        },
        close: function() {
            
        }
    });
    $('.new-area').click(function() {
        $( "#new-area" ).dialog( "open" );
    });
    
    $( "#change-area" ).dialog({
        autoOpen: false,
        height: 180,
        width: 500,
        modal: true,
        buttons: {
            "确定": function() {
                alert('button clicked');
            },
            "取消": function() {
                $( this ).dialog( "close" );
            }
        },
        close: function() {
            
        }
    });
    $('.change-area').click(function() {
        $( "#change-area" ).dialog( "open" );
    });
    
    $( "#delete-area" ).dialog({
        resizable: false,
        autoOpen: false,
        height:180,
        modal: true,
        buttons: {
            "删 除": function() {
                $( this ).dialog( "close" );
            },
            "取 消": function() {
                $( this ).dialog( "close" );
            }
        }
    });
    $('.delete-area').click(function() {
        $( "#delete-area" ).dialog( "open" );
    });
});
</script>

<div class="container" style="min-height:300px">
    {% areas.forEach(function(area) { %}
        <h2>
            {%= area.title %}
            (<a class="delete-area" href="javascript:void(0)">删</a> <a class="change-area" href="javascript:void(0)">改</a>)
        </h2>
        <div class="clearfix">
        <ul class="links clearfix">
            {% area.links.forEach(function(link) { %}
                <li>
                    <a target="_blank" href="{%= link.url %}">{%= link.text %}</a>
                    (<a class="delete-link" href="javascript:void(0)">删</a> <a class="change-link" href="javascript:void(0)">改</a>)
                </li>
            {% }) %}
            <li><a class="new-link" href="javascript:void(0)">++++++</a></li>
        </ul>
        </div>
    {% }) %}
    <h2>增加新区域 <a class="new-area" href="javascript:void(0)">++++++</a></h2>
</div>

<div id="new-link" title="创建新链接">
    <form>
    <fieldset>
        <label for="text">文字</label>
        <input type="text" name="text" id="text" class="ui-widget-content ui-corner-all" />
        <br/><br/>
        <label for="url">网址</label>
        <input type="text" name="url" id="url" value="" class="text ui-widget-content ui-corner-all" style="width:90%" />
    </fieldset>
    </form>
</div>

<div id="change-link" title="修改链接">
    <form>
    <fieldset>
        <label for="text">文字</label>
        <input type="text" name="text" id="text" class="ui-widget-content ui-corner-all" />
        <br/><br/>
        <label for="url">网址</label>
        <input type="text" name="url" id="url" value="" class="text ui-widget-content ui-corner-all" style="width:90%" />
    </fieldset>
    </form>
</div>

<div id="new-area" title="创建新区域">
    <hr class="space"/>
    <form>
    <fieldset>
        <label for="text">标题：</label>
        <input type="text" name="text" id="text" class="ui-widget-content ui-corner-all" style="width:90%" />
    </fieldset>
    </form>
</div>

<div id="change-area" title="修改区域标题">
    <hr class="space"/>
    <form>
    <fieldset>
        <label for="text">标题：</label>
        <input type="text" name="text" id="text" class="ui-widget-content ui-corner-all" style="width:90%" />
    </fieldset>
    </form>
</div>

<div id="delete-area" title="确认删除区域?">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        删除后无法恢复，确定要删除整个区域吗？
    </p>
</div>

<div id="delete-link" title="确认删除链接?">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        删除后无法恢复，确定要此链接吗？
    </p>
</div>

{% include include/footer %}