ul.links li, ul.categories li {width: 190px;}

.ui-selected { background: #F39814; color: white; }

.detail-prod-image {
	text-align: center;
	height:300px;
	width:300px; 
	border: 1px solid #DDD;
}

.list-prod-image {
    text-align: center;
    height:200px;
    width:200px; 
    border: 1px solid #DDD;
}

.detail-prod-image img {
	max-height:300px; 
	max-width:300px
}

.list-prod-image img {
    max-height:200px; 
    max-width:200px
}

.products li .nowrap {width:200px}