{% headTitle = page.title %}
{% include ../include/manage-header %}

<div class="container" style="min-height:300px">
    {% areas.forEach(function(area) { %}
        <h2>
            <span id="title-{%= area.id %}">{%= area.title %}</span> <span>({%= area.links.length %})</span>
            <a class="new-link" data-area="{%= area.id %}" href="javascript:void(0)">
                <span class="ui-icon ui-icon-plus" style="display: inline-block"></span></a>
            {% if (area.links.length == 0) { %}
            <a class="delete-area" data-area="{%= area.id %}" href="javascript:void(0)"><span class="ui-icon ui-icon-minus" style="display: inline-block"></span></a>
            {% } %}
            <a class="change-area" data-area="{%= area.id %}" data-area-type="{%= area.type %}" href="javascript:void(0)">
                <span class="ui-icon ui-icon-wrench" style="display: inline-block"></span></a>
        </h2>
        <div class="clearfix">
        <ul class="links" data-area="{%= area.id %}">
            {% area.links.forEach(function(link) { %}
                <li data-id="{%= link.id %}">
                    <a class="current-link" target="_blank" href="{%= link.url %}">{%= link.text %}</a>
                    <a class="delete-link" href="javascript:void(0)"><span class="ui-icon ui-icon-minus" style="display: inline-block"></span></a>
                    <a class="change-link" href="javascript:void(0)"><span class="ui-icon ui-icon-wrench" style="display: inline-block"></span></a>
                    {% if (link.image) { %}
                        <br/>
                        <img class="link-image" src="//img.qiri.com{%= link.image %}"/>
                    {% } %}
                </li>
            {% }) %}
        </ul>
        <ul class="links" data-area="{%= area.id %}">
            {%
                (area.links && []).forEach(function(link) {
            %}
                <li data-id="{%= link.id %}">
                    <span>文字</span><input value="{%= link.text %}" onclick="this.select()" /><br/>
                    <span>网址</span><input value="{%= link.url %}" onclick="this.select()" /><br/>
                    <span>图片</span><input value="{%= link.image %}" onclick="this.select()" /><br/>
                </li>
            {%
                }) 
            %}
        </ul>
        </div>
    {% }) %}
    <hr/>
    <h2>
       <span>增加新区域</span> <a class="new-area" href="javascript:void(0)"><span class="ui-icon ui-icon-plus" style="display: inline-block"></span></a>
       &nbsp; &nbsp; 链接总数： {%= linkNum %}
       &nbsp; &nbsp; 修改页面： <a class="change-page" href="javascript:void(0)"><span class="ui-icon ui-icon-wrench" style="display: inline-block"></span></a>
    </h2>
    <hr/>
    <h2>更改区域顺序</h2>
    <div class="clearfix">
    <ul class="areas">
        {% areas.forEach(function(area) { %}
            <li data-id={%= area.id %}>{%= area.title %}</li>
        {% }) %}
    </ul>
    </div>
</div>

<div id="new-link" title="创建新链接">
    <fieldset>
        <input type="hidden" id="newLinkAreaId" />
        <label>文字</label>
        <input type="text" name="text" id="newLinkText" class="ui-widget-content ui-corner-all" />
        <br/><br/>
        <label for="url">网址</label>
        <input type="text" name="url" id="newLinkUrl" class="text ui-widget-content ui-corner-all" style="width:90%" />
        <br/><br/>
        <label for="image">图片</label>
        <input type="text" name="image" id="newLinkImage" class="text ui-widget-content ui-corner-all" style="width:90%" />
    </fieldset>
</div>

<div id="change-link" title="修改链接">
    <fieldset>
        <input type="hidden" id="changeLinkId" />
        <label>文字</label>
        <input type="text" name="text" id="changeLinkText" class="ui-widget-content ui-corner-all" />
        <br/><br/>
        <label>网址</label>
        <input type="text" name="url" id="changeLinkUrl" onclick="this.select()" class="text ui-widget-content ui-corner-all" style="width:90%" />
        <br/><br/>
        <label>图片</label>
        <input type="text" name="image" id="changeLinkImage" onclick="this.select()" class="text ui-widget-content ui-corner-all" style="width:90%" />
    </fieldset>
</div>

<div id="new-area" title="创建新区域">
    <hr class="space"/>
    <fieldset>
        <input type="hidden" id="pageId" value="{%= page.id %}" />
        <label>标题：</label>
        <input type="text" name="text" id="newAreaTitle" class="ui-widget-content ui-corner-all" style="width:90%" />
        <br/><br/>
        <label>类型：</label>
        <label for="newAreaTypeCategory">
            <input type="radio" name="newAreaType" checked="checked" value="category" id="newAreaTypeCategory" />分类区域
        </label> &nbsp;
        <label for="newAreaTypeBrand">
            <input type="radio" name="newAreaType" value="brand" id="newAreaTypeBrand" />品牌区域
        </label>
    </fieldset>
</div>

<div id="change-area" title="修改区域标题">
    <hr class="space"/>
    <fieldset>
        <input type="hidden" id="changeAreaId" />
        <label>标题：</label>
        <input type="text" name="text" id="changeAreaTitle" class="ui-widget-content ui-corner-all" style="width:90%" />
        <br/><br/>
        <span>类型：</span>
        <span id="changeAreaType"></span><br/><br/>
        <span>修改：</span>
        <label for="changeAreaTypeCategory">
            <input type="radio" name="changeAreaType" value="category" id="changeAreaTypeCategory" />分类区域
        </label> &nbsp;
        <label for="changeAreaTypeBrand">
            <input type="radio" name="changeAreaType" value="brand" id="changeAreaTypeBrand" />品牌区域
        </label>
    </fieldset>
</div>

<div id="delete-area" title="确认删除区域?">
    <input type="hidden" id="deleteAreaId" />
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        <span>删除后无法恢复，确定要删除整个区域吗？</span>
    </p>
</div>

<div id="delete-link" title="确认删除链接?">
    <input type="hidden" id="deleteLinkId" />
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        <span>删除后无法恢复，确定要此链接吗？</span>
    </p>
</div>

<div id="change-page" title="修改页面信息">
    <hr class="space"/>
    <fieldset>
        <label>名称：</label>
        <input type="text" name="text" value="{%= page.name %}" id="changePageName" class="ui-widget-content ui-corner-all" style="width:90%" />
        <br/><br/>
        <label>标题：</label>
        <input type="text" name="text" value="{%= page.title || '' %}" id="changePageTitle" class="ui-widget-content ui-corner-all" style="width:90%" />
    </fieldset>
</div>

{% include ../include/footer %}