{% headTitle = page.title %}
{% include ../include/manage-header %}

<div id="main" data-pageId='{%= page.id %}' data-collection="Page" data-collection-id="{%= page.id %}"></div>

<div class="container" style="min-height:300px">
    <h2>
       <span>增加新区域</span> <a class="new-area" href="javascript:void(0)"><span class="ui-icon ui-icon-plus" style="display: inline-block"></span></a>
       &nbsp; &nbsp; 链接总数： {%= linkNum %}
       &nbsp; &nbsp; 修改页面
       <a class="change-page" href="javascript:void(0)"><span class="ui-icon ui-icon-wrench" style="display: inline-block"></span></a>
       {% if (page.type == 'channel') { %}
           &nbsp; &nbsp; 修改分类
           <a href="/manage/category?channel={%= page.name %}"><span class="ui-icon ui-icon-wrench" style="display: inline-block"></span></a>
           &nbsp; &nbsp; 商品管理
           <a href="/manage/products?channel={%= page.name %}"><span class="ui-icon ui-icon-wrench" style="display: inline-block"></span></a>
       {% } %}
    </h2>
    <hr/>
    {% page.linkGroups.forEach(function(area) { %}
        <h2>
            <span id="title-{%= area.id %}">{%= area.title %}</span> <span>({%= area.links.length %})</span>
            <a class="new-link" data-area-id="{%= area.id %}" href="javascript:void(0)">
                <span class="ui-icon ui-icon-plus" style="display: inline-block"></span></a>
            {% if (area.links.length == 0) { %}
            <a class="delete-area" data-area-id="{%= area.id %}" href="javascript:void(0)"><span class="ui-icon ui-icon-minus" style="display: inline-block"></span></a>
            {% } %}
            <a class="change-area" data-area-id="{%= area.id %}" data-area-type="{%= area.type %}" href="javascript:void(0)">
                <span class="ui-icon ui-icon-wrench" style="display: inline-block"></span></a>
        </h2>
        <div class="clearfix">
        <ul class="links">
            {% area.links.forEach(function(link) { %}
                <li data-area-id="{%= area.id %}" data-link-id="{%= link.id %}">
                    <a class="current-link" target="_blank" href="{%= link.url %}">{%= link.text %}</a>
                    <a class="delete-link" href="javascript:void(0)"><span class="ui-icon ui-icon-minus" style="display: inline-block"></span></a>
                    <a class="change-link" href="javascript:void(0)"><span class="ui-icon ui-icon-wrench" style="display: inline-block"></span></a>
                    {% if (link.image) { %}
                        <br/>
                        <img class="link-image" src="//img.qiri.com{%= link.image %}"/>
                    {% } %}
                </li>
            {% }) %}
        </ul>
        <ul class="links" data-area="{%= area.id %}">
            {%
                (area.links && []).forEach(function(link) {
            %}
                <li data-id="{%= link.id %}">
                    <span>文字</span><input value="{%= link.text %}" onclick="this.select()" /><br/>
                    <span>网址</span><input value="{%= link.url %}" onclick="this.select()" /><br/>
                    <span>图片</span><input value="{%= link.image %}" onclick="this.select()" /><br/>
                </li>
            {%
                }) 
            %}
        </ul>
        </div>
    {% }) %}
    <hr/>
    <h2>更改区域顺序： </h2>
    <div class="clearfix">
    <ul class="areas">
        {% page.linkGroups.forEach(function(area) { %}
            <li data-id={%= area.id %}>{%= area.title %}</li>
        {% }) %}
    </ul>
    </div>
</div>

<div id="change-page" title="修改页面信息">
    <hr class="space"/>
    <fieldset>
        <label>名称：</label>
        <input type="text" value="{%= page.name %}" id="changePageName" class="ui-widget-content ui-corner-all" style="width:90%" />
        <br/><br/>
        <label>标题：</label>
        <input type="text" value="{%= page.title || '' %}" id="changePageTitle" class="ui-widget-content ui-corner-all" style="width:90%" />
    </fieldset>
</div>

{% include ../include/manage-links %}

{% include ../include/footer %}