{% headTitle = page.title + '商品管理' %}
{% include ../include/manage-header %}

<div class="container" style="min-height:300px">
    <input type="hidden" id="categoryChannel" value="{%= page.name %}" />
    <h2>{%= page.title %}商品管理</h2>
</div>

{% include ../include/footer %}