{% headTitle = '上传图片' %}
{% include ../include/manage-header %}

<div class="container" style="min-height:300px">
    <h2>上传图片</h2>
    <form action="/manage/upload" enctype="multipart/form-data" method="post">
        <input type="file" id="userPhotoInput" name="displayImage" class="ui-widget ui-widget-content ui-corner-all" />
        <hr class="space"/>
        <input type="submit" value="提  交" class="ui-button ui-widget ui-state-default ui-corner-all" />
    </form>
</div>

{% include ../include/footer %}